<!doctype html>
<html lang="en-US">
  <%- include("head.ejs") %>
  <body>
    <h1>Hello there!</h1>
    <fieldset>
      <h2>Sign in or sign up now</h2>
      <form action="/login" method="get">
        <button type="submit">Log in</button>
      </form>
      <form action="/sign-up" method="get">
        <button type="submit">Sign up</button>
      </form>
    </fieldset>
  </body>
</html>
