body {
  display: grid;
  gap: 1vh;
  justify-content: center;
}

button {
  justify-self: center;
}

.errors {
  background-color: #ff000072;
  border-radius: 1rem;

  padding: 1vh 2vw;
}

fieldset {
  display: grid;
  gap: 2vh;
  justify-items: center;
}

form {
  display: grid;
  gap: 2vh;
  justify-content: start;
}

input:required + span::after{
  color: red;
  content: " (required)";
}

label {
  border: 1px solid #00000022;
  border-radius: 0.5rem;
  display: grid;
  gap: 1vh;
  padding: 0.25rem 0.5rem;
}